body {
  font-family: sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.select {
  padding: 1em;
  width: 35em;
  font-weight: bold;
  cursor: pointer;
  background-color: rgb(17, 202, 202);
}
.destinationBody {
  display: flex;
  justify-content: space-around;
}
.eachDestination {
  background: rgb(17, 202, 202);
  color: black;
  border-radius: 5px;
  padding: 10px;
  margin: 30px 100px;
}
